* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

.sea-image {
    height: 150px;
    width: 500px;
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    background-color: #1F2937;
}

.top-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 8px;
}

.bottom-part {
    display: flex;
    justify-content: space-evenly;
    padding-left: 70px;
    padding-top: 130px;
    padding-bottom: 130px;
}

.text-and-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    gap: 12px;
}

.header-image {
    display: flex;
    align-items: center;
}

.bold-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.small-text {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    padding: 8px 20px;
    color: #E5E7EB;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

/* Second part */

.random-info {
    text-align: center;
    margin: 36px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.second-part {
    display: flex;
    height: 350px;
    justify-content: center;
    margin-bottom: 50px;
}

.images {
    display: flex;
    gap: 48px;
    align-items: center;
}

.second-part-img {
    height: 200px;
    width: 200px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.image {
    max-width: 200px;
    font-size: 18px;
    color: dimgray;
    text-align: center;
}

/* QUOTE PART */

.quote-container {
    display: flex;
    height: 400px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
}

/* CALL TO ACTION PART */

.call-to-action {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.action-container {
    display: flex;
    height: 130px;
    width: 900px;
    background-color: #3882F6;
    border-radius: 16px;
    justify-content: space-around;
}

.messages-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message1 {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: bold;
    padding-bottom: 6px;
}

.message2 {
    color: #E5E7EB;
}

.action-button {
    border: 2px solid #e5e7eb;
    color: #E5E7EB;
    border-radius: 8px;
    height: 40px;
    width:100px;
    text-align: center;
    align-self: center;
}

.footer {
    display: flex;
    padding: 24px;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #E5E7EB;
}